@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;700;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: 'Red Hat Display', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-[1080px]
  }
  .btn {
    @apply bg-darkred py-[10px] px-8 rounded-2xl text-white font-normal text-[20px] leading-6
  }
}

.burger {
  height: 20px;
  position: relative;
  width: 20px;
}

.burger-line {
  display: flex;
  width: 30px;
  max-height: 100%;
  height: 2px;
  background-color: #D70026;
  transition: .3s all ease;
}

.top-line {
  position: absolute;
  left: 0;
  top: 0;
}
.mid-line {
  position: absolute;
  top: 50%;
  transform: translate(0, 50%);
}

.bottom-line {
  position: absolute;
  left: 0;
  bottom: 0;
}
.burger.active>.top-line {
  transform: translateY(8px) rotate(45deg);
  transition: .3s all ease;
}

.burger.active>.mid-line {
  opacity: 0;
  transition: .3s all ease;
}

.burger.active>.bottom-line {
  transform: translateY(-10px) rotate(-45deg);
  transition: .3s all ease;
}